* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #cdd6f4; /* text */
}

window#waybar {
  background: #1e1e2e; /* base */
}

/* Workspace Buttons */
#workspaces button label{
  color: #cdd6f4; /* text */
  padding: 0 10px;
}
#workspaces button.active label {
  color: #1e1e2e; /* base */
}
#workspaces button.active {
  background: #f5c2e7; /* pink */
}

#clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
  margin: 0 10px;
}

#language {
  margin: 0;
  color: #f9e2af; /* yellow */
  border-bottom: 5px solid #f9e2af;
}

#custom-weather {
  margin: 0;
  color: #a6e3a1; /* green */
  border-bottom: 5px solid #a6e3a1;
}

#pulseaudio {
  margin: 0;
  color: #94e2d5; /* teal */
  border-bottom: 5px solid #94e2d5;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #f38ba8; /* red */
  border-bottom: 5px solid #f38ba8;
}

#battery {
  margin: 0;
  color: #89b4fa; /* blue */
  border-bottom: 5px solid #89b4fa;
}

#clock {
  margin: 0;
  color: #cba6f7; /* mauve */
  border-bottom: 5px solid #cba6f7;
}

#tray {
  margin: 0;
  color: #fab387; /* peach */
  border-bottom: 5px solid #fab387;
}
